<div class="notification" data-controller="achievement">
  <i class="fa-solid fa-xmark close" data-action="click->achievement#remove"></i>

  <% @new_achievements.each do |achievement| %>
    <div class="achievement">
      <h2 class="outline">NEW ACHIEVEMENT</h2>

      <%= cl_image_tag achievement.photo.key %>

      <div>
        <h1 class="outline"><%= achievement.title.upcase %></h1>
        <p class="outline"><%= achievement.description %></p>
      </div>
    </div>
  <% end %>
  <div class="spinner"></div>
</div>
