// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// custom colors
$background: rgba(24, 26, 27, 1);
$darkgrey: rgba(34, 36, 37, 1);
$lightgrey: rgba(211, 211, 211, 1);
$lightgrey50: rgba(211, 211, 211, 0.5);
$green: rgba(154, 180, 149, 1);
$red: rgba(170, 50, 50, 1);
