// Screen size
$large: 996px;
$small: 576px;

// Text format
$text-padding: 0.5rem 1rem;

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

    &:hover {
      color: inherit;
    }
}

body {
  background-color: $background;
  background-image: asset-url("bg_pattern.webp");
  color: $lightgrey;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  min-height: 100vh;
}

button, input, select, textarea {
  font: inherit;
}

h1, h2, h3 {
  font-family: $headers-font;
}

main {
  flex-grow: 1;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 3px;
}

.container {
  background-color: $background;
  padding: 0 20px;
}

.min-height100 {
  min-height: 100vh;
}

.max-content {
  width: max-content !important;
}

.noscroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.text-red {
  color: $red;
}

.text-smaller {
  font-size: 0.8rem;
}
