<div class="container devise">
  <div class="devise-top-navbar">
    <%= link_to "Log in", new_user_session_path %>
    <h3>Sign up</h3>
  </div>

  <%= render "form" %>

  <div class="devise-back">
    <i class="fa-solid fa-arrow-left"></i>
    <%= link_to "Back", root_path %>
  </div>
</div>
