#pages-home {
  background-color: $background;

  h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 50px 0 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .devise {
    border-bottom: 1px solid $lightgrey50;
    min-height: 100vh;
    min-height: 100svh ;

    h3 {
      border-bottom: 2px solid transparent;
      color: $lightgrey50;
      font-size: 16px;

      &.active {
        border-bottom: 2px solid $green;
        color: #d3d3d3;
      }
    }

    .hidden {
      display: none;
    }
  }
}
