#pages-home {
  .devise {
    min-height: 100vh;

    h3 {
      border-bottom: 2px solid transparent;
      color: rgba(211, 211, 211, 0.5);
      font-size: 16px;

      &.active {
        border-bottom: 2px solid $rose;
        color: lightgray;
      }
    }

    .hidden {
      display: none;
    }
  }

  .map-container{
    background-image: url(placeholder_image_map.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }

  #featured {
    border-bottom: 1px solid $secondary;
    margin: 0 20px;
    padding: 20px 0;
  }

  #logo {
    align-items: center;
    background-color: $background;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: opacity 1s ease;
    width: 100%;
    z-index: 50;

    img {
      width: 250px;
    }
  }

  #register {
    margin: 100px 0;
    a {
      color: $rose;
    }
  }
}
