#histories-container {
  margin: 20px;

  .histories-title {
    display: flex;
    padding: 0 0 24px;
    justify-content: center;
    border-bottom: 1px solid $lightgrey50;

    h2 {
      margin: 0 auto;
    }
  }

  #search-form {
    padding: 16px 0;
    border: none;
  }

  .monument-photo {
    width: 40%;
    background-size: cover;
    background-position: center;
  }
}
