#histories-container {
  background-color: $background;
  padding: 20px;

  .histories-title {
    padding: 0 0 24px;
    border-bottom: 1px solid $lightgrey50;
    text-align: center;
  }

  #search-form {
    padding: 16px 0;
    border: none;
  }
}
