<section id="nearby">
  <div class="subheader">
    <h2><i class="fa-regular fa-heart"></i>  My favourites</h2>
    <%= link_to monuments_path do %>
      see more <i class="fa-solid  fa-arrow-right"></i>
    <% end %>
  </div>

  <div class="monuments-scroller">
    <% @monuments = @monuments.shuffle %>
    <% @monuments.each do |mon| %>
      <%= link_to monument_path(mon),
        class: "card-dashboard",
        style: (mon.photo.attached? ? "background-image: linear-gradient(rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.7)), url(#{ cl_image_path mon.photo.key })" : "") do %>

        <h3><%= mon.name %></h3>
        <span><i class="fa-solid fa-location-dot"></i> <%= "#{mon.city}, #{mon.country_code}" %></span>
      <% end %>
    <% end %>
  </div>
</section>
