<div class="index-container" data-controller="map"  data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="monuments-map"
  data-map-target="map">
    <%= link_to root_path(ht: "y"), class: "btn-home" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>

  <div class="map-overlay hidden" data-map-target="overlay">
    <div id="blinder" data-action="click->map#hideOverlay"></div>
    <div id="feature-listing" data-map-target="listing"></div>
  </div>
</div>
