<div class="index-container">
  <div class="monuments-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= link_to root_path(ht: "y"), class: "btn-home" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div id="feature-listing" class="listing">
  </div>
  <div id="blinder">
  </div>

</div>
