@import "monuments/show";

.monuments-map {
  height: 100vh;
  height: 100svh;
  width: 100%;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $background;

  height: 100%;
  width: 100%;
}

#blinder {
  display: flex;
  justify-content: center;
  height: 7px;
  width: 100px;
  position: fixed;
  bottom: -.5%;
  z-index: 10;
  border-radius: 5px;
  transition: all .3s ease;
}

.blinder-expanded {
  bottom: 270px !important;
  background-color: rgba(154, 180, 149, 1);
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.listing {
  position: fixed;
  bottom: 0;
  height: max-content;
  padding: 23px 10px 10px;
  background-color: #181a1b80;
  backdrop-filter: blur(10px);
  border-radius: 15px 15px 0px 0px;
  max-height: 285px;
  overflow: hidden;
  transition: all .3s ease;
  &::-webkit-scrollbar {
    height: 0;
  }
}

.listing-hidden {
  max-height: 0;
  padding: 0 10px;
  opacity: 0;
}
