.monuments-map {
  height: 100vh;
  width: 100%;
}

path {
  color: $green;
}

.monument-cards {
  height: 248px;
  width: 100%;
  margin-left: 20px;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
  position: sticky;
  bottom: 25px;



  &::-webkit-scrollbar {
    height: 0px;
  }
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $background;

  height: 100%;
  width: 100%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}
