.monuments-map {
  height: 100vh;
  width: 100%;
}

.shadow-monument {
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
  color: $green;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $background;

  height: 100%;
  width: 100%;

  .monuments-scroller {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 20px;
    margin-left: -20px;
  }
}

// map features

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.marker {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 2px solid $green;
}

.mapboxgl-popup-content {
  background: rgba(24, 26, 27, 0.5);
  backdrop-filter: blur(3px);
  color: $lightgrey;
  font-family: $body-font;
  font-size: 12px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(24, 26, 27, 0);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(24, 26, 27, 0);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: rgba(24, 26, 27, 0);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(24, 26, 27, 0);
}

.listing {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 275px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 0;
  }

  .card-monument {
    flex-shrink: 0;
    width: 187px;

    h3 {
      font-size: 1.2rem;
    }

    span {
      font-size: 0.7rem;
    }
  }
}
