.background-image {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;

  .glass-container{
    height: 295px;
    margin: 20px;
    background-color: rgba(64, 64, 64, 0.5);
    box-shadow: 0 0 10px 1px rgba(48, 44, 44, 0.83);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    transition: all 0.5s ease;

    .line{
      width: 80px;
      border: 2px solid $green;
      opacity: 1;
      border-radius: 2px;
    }

    &.expanded{
      margin: 0;
      padding: 40px 40px 0px 40px;
      height: 80%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      button{
        height: 0px;
        padding: 0px;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

    .content{
      overflow-y: scroll;

      &::-webkit-scrollbar{
        width: 0;
        }
      }
    }

    .content{
      overflow: hidden;

      h4{
        color: $lightgrey;
        font-size: 38px;
        font-weight: bolder;
      }

      .url{

      }

      .location{
        font-size: 19px;
        margin: 9px 0px 9px 0px;
      }

      p{
        margin-top: 15px;
        font-size: 16px;
      }

      .hidden-thumbnail{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;

      }
    }

    button{
      opacity: 1;
      transition: opacity 0.3s ease;
      width: 100%;
      border-radius: 15px;
      padding: $text-padding;
      border: 3px solid $green;
      background-color: inherit;
      color: $lightgrey;
    }

  }
}
