.background-image {
  background-color: $background;
  background-image: asset-url("Image_not_available.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height:100svh;
  justify-content: flex-end;

  .glass-container {
    backdrop-filter: blur(10px);
    background-color: #181a1b80;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 285px;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    transition: all 0.5s ease;

    &.expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 80%;
      margin: 0;
      padding: 20px 30px 20px 30px;

      button {
        max-height: 0;
        opacity: 0;
        padding: 0;
      }

      .content {
        overflow-y: scroll;
        padding: 0 10px;

        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }

    button{
      box-shadow: none;
      height: max-content;
      flex-shrink: 0;
      margin: 0;
      max-height: 50px;
      overflow: hidden;
      transition: all 0.5s ease;
      width: 100%;

      &:hover {
        animation: none;
      }
    }

    .content {
      overflow: hidden;
      transition: padding 0.3s ease;
      width: 100%;

      h1 {
        color: $green;
        font-size: 30px;
        font-weight: bolder;
      }

      p {
        margin-top: 15px;
      }

      .location {
        align-items: center;
        display: flex;
        gap: 10px;
        margin: 0;
        min-height: 30px;

        i {
          color: $green;
        }
      }

      .hidden-thumbnail{
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
      }

      .location-with-url {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .globe-official-link {
          font-size: 25px
        }
      }

      .truncate {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }

    .line {
      border: 2px solid $lightgrey50;
      border-radius: 2px;
      margin: 0 auto;
      width: 80px;
    }

    .side-scroller {
      border: none;
      padding-bottom: 0;
    }
  }
}
