<div id="histories-container">
  <%= link_to dashboard_path, class: "btn-home" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <div class="histories-title">
    <h2>MY FAVOURITES</h2>
  </div>

  <div class="search-histories" data-controller="search-histories">
    <div id="search-form">
      <form action="/favourites" data-search-histories-target="form">
        <label for="query"><i class="fa-solid fa-magnifying-glass"></i></label>
        <input type="text" name="query" data-search-histories-target="input" data-action="keyup->search-histories#update">
      </form>
    </div>

    <%= render "favourites/components/list" %>
  </div>
</div>
