<section id="flashes">
  <% if notice %>
    <div data-controller="flashes" class="transition hidden">
      <div role="alert">
        <%= notice %>
      </div>
    </div>
  <% end %>

  <% if alert %>
    <div data-controller="flashes" class="transition hidden">
      <div role="alert">
        <%= alert %>
      </div>
    </div>
  <% end %>
</section>
