<div id="navbar" data-window-events-target="navbar">
  <%= link_to root_path(ht: "true") do %>
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  <% end %>

  <div>
    <i class="fa-solid fa-map-location-dot"></i>
    <span>Map</span>
  </div>

  <%= form_with model: @history do |f| %>
    <%= f.label :photo do %>
      <i class="fa-solid fa-camera"></i>
    <% end %>
    <%= f.file_field :photo, style: "display: none;", accept: "image/*", onchange: "form.submit();" %>
  <% end %>

  <div>
    <i class="fa-solid fa-magnifying-glass"></i>
    <span>Search</span>
  </div>

  <div>
    <i class="fa-solid fa-user"></i>
    <span>Account</span>
  </div>
</div>
