<div class="no-media-query" data-controller="no-media-query">
  <div class="container">
    <%= image_tag "eiffel-logo.png" %>

    <div>
      <h1>This website is not available on tablets and desktops</h1>
      <p>This website is a progressive web app project oriented for mobile only</p>
      <p>If you wish to access it please open it from a mobile device or open your browser's devTool and turn on mobile device display</p>
    </div>
  </div>
</div>
