<section id="logo" data-controller="home-logo block-body-scroll">
  <%= image_tag "eiffel-logo.png", data: { aos: "zoom-out-up", aos_delay: "800", aos_duration: "1000" } %>
</section>

<section id="loading" class="hidden">
  <div>
    <%= image_tag "eiffel-logo.png" %>
    <div class="lds-ring" ><div></div><div></div><div></div><div></div></div>
  </div>
</section>
