<section class="side-scroller" data-controller="nearby">
  <div class="subheader">
    <h2>Nearby</h2>
    <%= link_to monuments_path do %>
      see more <i class="fa-solid  fa-arrow-right"></i>
    <% end %>
  </div>

  <div data-nearby-target="wrapper">
    <div class="no-monuments">
      <%= image_tag "geolocation.svg" %>
      <div>
        <h3>Enable Geolocation</h3>
        <p>By allowing geolocation in your settings you can see what monuments are around you</p>
      </div>
    </div>
  </div>
</section>
