<section id="banner">
  <div class="featured">
    <span>Featured Landmark</span>
    <h2><%= @monument.name %></h2>
    <a data-controller="scroll-to-featured" data-action="click->scroll-to-featured#scrollToFeatured">Learn more   <i class="fa-solid fa-chevron-down"></i></a>
  </div>

  <div class="banner"></div>
</section>
