<div id="pages-error">
  <%= link_to root_path, class: "btn-home" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <div class="error">
    <h3>Oops<br/>That's unexpected</h3>
    <%= image_tag "not_found.png" %>
    <h1>No result was found</h1>
    <% case @error %>
    <% when "no landmark found on google" %>
      <p>The content of your photo was not recognised<br/>You could try again with another picture</p>
    <% when "no data found on wikipedia" %>
      <p>The landkark probably is the <%= @landmark_name %><br/>But we can't find more information about it</p>
    <% else %>
      <p>An error ocurred during the process<br/>But the landkark probably is the <%= @landmark_name %></p>
    <% end %>
  </div>
</div>
