<div class="logo">
  <h1>Artify</h1>
  <i><i class="fa-solid fa-camera"></i></i>
</div>

<div class="around-you-map-container">
  <h2>Scope out your surroundings</h2>
  <p>
    Ready to discover the hottest landmarks near
    your location? Browse away, and when you find
    something that catches your eye, favorite it
    and happy exploring!
  </p>
  <div class="map-container"></div>
</div>

<%# <div class="drag_card-container">
  <h2>Discover Your Landmark Match</h2>
    <p>
    Ready to discover the hottest landmarks near
    your location? Browse away, and when you find
    something that catches your eye, favorite it
    and happy exploring!
  </p>
    <div class="card-container">
    </div>
</div> %>
