<div class="logo">
  <h1>Artify</h1>
  <i><i class="fa-solid fa-camera"></i></i>
</div>

<div class="drag_card-container">
  <h2>Drag your way to the next Destination</h2>
  <p>
    Are you looking for a top-notch experience?
    simple swipe left or right to discover and
    save your preferred landmarks.Trust in our platform to guide you
    towards your desired destinations. Join us now to
    start exploring and saving your most beloved landmarks
  </p>
  <div class="card-container">
    <div class="card"></div>
  </div>

<div class="around-you-map-container">
  <h2>Scope out your surroundings</h2>
  <p>
    Ready to discover the hottest landmarks near
    your location? Browse away, just swipe and search,
    when you findsomething that catches your eye,
    favorite it and happy exploring!
  </p>
  <div class="map-container"></div>
</div>
</div>
