.btn-pink {
  background-color: $secondary;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: $background;
  font-weight: 500;
  margin: 16px 0px;
  padding: $text-padding;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &:hover {
    animation: press-button 0.15s linear;
  }
}
