.btn-pink {
  background-color: $rose;
  border: none;
  padding: 10px 25px;
  color: $background;
  font-weight: bold;
  margin: 16px 0px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(0.9);
  }
}
