.camera-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 30px;
  color: white;
  width: 50px;
  border-radius: 8px;
  margin: 0 auto;
}
