@keyframes press-button-skew {
  0% {
    transform: skew(-20deg);
  }

  50% {
    transform: skew(-20deg) scale(0.9);
  }

  100% {
    transform: skew(-20deg);
  }
}

.monument-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  max-width: 350px;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: $background;

  box-shadow: 5px 5px 17px 5px rgba(0,0,0,0.25);

  .card-img {
    width: 350px;
    height: 300px;
    background-position: center;
    background-size: cover;
  }

  .card-information {
    width: 350px;
    height: 175px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding: 10px 10px;
    color: rgb(162, 174, 197);

    h1 {
      font-size: 24px;
      color: white;
    }

    .city-distance {
      display: flex;
      justify-content: space-between;
    }
  }

  .card-description {
    display: -webkit-box;
    font-size: 10px;

    margin-bottom: 0;
    padding-bottom: 5px;
    height: 150px;
    max-width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
  }
}

.monuments-map {
  height: 400px;
  width: 100%;
}

path {
  fill: $rose;
}

.monument-cards {
  height: 40%;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  padding: 0 10px;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    height: 0px;
  }
}

.card-featured {
  display: flex;
  flex-direction: column;

  .card-featured_content {
    margin-top: -75px;

    h3 {
      color: $rose;
      letter-spacing: 2px;
      margin: 0;
      text-shadow: 0 0 10px rgb(0, 0, 0);
    }

    span {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 10px;
      text-shadow: 0 0 10px rgb(0, 0, 0);

      i {
        color: $rose;
      }
    }
  }

  .card-featured_image {
    color: $rose;
    background-position: center 30%;
    background-size: cover;
    display: flex;
    height: 400px;
    justify-content: flex-end;
    margin-left: -20px;
    mask: linear-gradient(black 70%, transparent);
    padding: 15px;
    width: calc(100% + 40px);

    i {
      font-size: 20px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  .card-featured_more {
    align-self: flex-end;

    a {
      align-items: center;
      background-image: linear-gradient(135deg, #ebc4bc, #cf897a);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: flex;
      font-size: 0.8rem;
      gap: 10px;
      padding: 10px;
      transform: skew(-20deg);

      &:hover {
        animation: press-button-skew 0.15s linear;
      }

      * {
        color: $secondary;
        display: inline-block;
        transform: skew(20deg);
      }
    }
  }
}
