.monument-card {
  display: flex;
  align-items: center;

  width: 90%;
  height: 200px;
  margin-top: 10px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;

  .card-img {
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;

    border-radius: 25px 0px 0px 25px;
  }

  .card-information {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding: 5px 10px;

    color: white;
  }

  .card-description {
    display: -webkit-box;
    font-size: 10px;

    height: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
