.monument-card {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  width: 350px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;

  // background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid $secondary-green;

  .card-img {
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
  }

  .card-information {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding: 5px 10px;

    color: white;

    h1 {
      font-size: 24px;
    }
  }

  .card-description {
    display: -webkit-box;
    font-size: 10px;

    margin-bottom: 0;
    padding-bottom: 5px;
    height: 95%;
    max-width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  .city-distance {
    display: flex;
    justify-content: space-between;
  }
}

.monuments-map {
  height: 500px;
  width: 100%;
}

.monument-cards {
  height: 40%;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  padding-left: 10px;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    height: 0px;
  }
}
