.standard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $main-green;

  height: 100%;
  width: 100%;
}

// .monuments-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   width: 90%;
//   height: 100%;
//   padding: 20px 0;

//   background-color: rgba(0, 0, 0, 0.6);
//   border-radius: 25px;

// }
