.transition {
  margin: 0px;
  padding: 24px;
  background-color: $rose;
  color: $secondary;
  transition: transform 2s;
  z-index: 30;
  position: fixed;
  top: 0;
  width: 100%;
}


.hidden {
  transform: translateY(-100%);
}
