#flashes {
  color: $background;
  position: relative;

  .close {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .hidden {
    transform: translateY(-100%);
  }

  .transition {
    background-color: $green;
    margin: 0px;
    padding: 24px;
    transition: transform 1s;
    z-index: 30;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
