.avatar {
  border-radius: 50%;
  display: block;
  height: 64px;
  margin: 0 auto 16px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  width: 64px;
}

.devise {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  gap: 30px;
  justify-content: space-between;
  padding: 20px 0;

  .devise-back {
    align-items: center;
    display: flex;
    gap: 10px;

    i {
    color: $green;
    }
  }

  .devise-cancel-account {
    padding: 16px 0;

    a {
      color: $green;
      display: block;
    }
  }

  .devise-top-navbar {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 10px;

    h3 {
      border-bottom: 2px solid $green;
      font-size: 16px;
      margin: 0;
      padding-bottom: 2px;
    }

    a {
      border-bottom: 2px solid transparent;
      color: $lightgrey50;
      display: inline-block;
      font-family: $headers-font;
      font-weight: 500;
      margin: 0;
      padding-bottom: 2px;
    }
  }
}

.devise-form {
  .checkbox {
    margin-top: 16px;
  }

  .form-field {
    background-color: $darkgrey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 6px 0px;
    padding: $text-padding;

    div {
      align-items: center;
      display: flex;
      gap: 10px;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 0 !important;
      color: $lightgrey !important;
      font: inherit;
      transition: border-bottom 0.3s ease;
      width: 100%;

      &:focus {
        border-bottom: 2px solid $green;
        outline: none;
      }
    }

    label {
      color: $lightgrey50;
      font-size: 0.8rem;
      margin-bottom: 0;
    }

    span {
      color: $red;
      font-size: 0.6rem;
      margin-bottom: 5px;
    }
  }

  .photo-field {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    input {
      display: none;
    }

    label {
      margin: 0 auto;
      width: 100%;
      background-image: asset-url("avatar.svg");
      border-radius: 50%;
      height: 100px;
      width: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      background-color: $darkgrey;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border: 5px solid $green;
    }
  }

  .title {
    margin-bottom: 40px;

    h2 {
      font-size: 48px;
      margin: 0px;
    }

    h3 {
      color: $lightgrey50;
      font-size: 16px;
    }
  }
}

.log-out  {
  display: flex;
  align-items: center;

  p {
    padding: 0 8px;
    margin: 0;
  }

  i {
    color: $green;
  }
}
