@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  95% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 5px solid $green;
    border-radius: 50%;
    animation: lds-ring 1.6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $green transparent transparent transparent;

    &::nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
