#loading, #logo {
  align-items: center;
  background-color: $background;
  background-image: asset-url("bg_pattern.webp");
  display: flex;
  height: 100vh;
  height: 100svh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity 1s ease;
  width: 100%;
  z-index: 50;

  &.hidden {
    z-index: -10;
    opacity: 0;
  }

  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10;
    justify-content: center;
  }

  img {
    width: 250px;
  }
}
