#navbar {
  background-color: #21252e;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 30;

  a, div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 40px;

    span {
      font-size: 0.6rem;
    }
  }

  form {
    height: max-content;
    transform: scale(3);

    i {
      color: $rose;
    }
  }
}
