#navbar {
  background-color: #21252e;
  bottom: 0;
  display: flex;
  height: 55px;
  justify-content: space-between;
  max-height: 55px;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 30;

  a, div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    transform: scale(0.8);
    width: 40px;

    span {
      font-size: 0.6rem;
    }
  }

  form {
    align-items: center;
    display: flex;
    height: 35px;

    i {
      color: $rose;
      transform: scale(2.5);
    }
  }
}
