#search-form {
  border-bottom: 1px solid $lightgrey50;
  padding: 20px 0;

  form {
    background-color: $darkgrey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 10px;
    padding: $text-padding;
    transition: box-shadow 0.3s ease;

    &:has(input:focus) {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.3);
    }

    input {
      background-color: transparent;
      border: none;
      color: $lightgrey !important;
      flex-grow: 1;
      transition: border-bottom 0.3s ease;

      &:focus {
        outline: none;
      }
    }
  }

  .monuments-wrapper {
    height: max-content;
    margin-top: 10px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease;
  }
}
