#dashboard {
  background-color: $background;
  min-height: 100vh;
  min-height: 100svh;

  #user-banner {
    background-color: $green;
    border-radius: 0 0 16px 16px;
    padding: 50px 20px 20px;
    position: relative;

    .profile-bottom {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .badges-collection {
        display:flex;

        .badge-completed {
          height: 70px;
          width: 70px;
          z-index: 2;

          &:nth-child(1) {
            margin-right: -20px;
            z-index: 3;
          }

          &:nth-child(3) {
            margin-left: -20px;
            z-index: 1;
          }
        }
      }

      .btn-main {
        background-color: $darkgrey;
        color: $lightgrey;
        margin: 0;
      }
    }

    .user-info {
      margin: 20px 0;
      width: calc(100% - 140px);

      .dashboard-avatar {
        background-color: $background;
        border: 1px solid $lightgrey;
        border-radius: 50%;
        display: block;
        height: 120px;
        object-fit: cover;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 120px;

        * {
          height: 100%;
          width: 100%;
        }
      }

      .welcome-message {
        color: $darkgrey;

        * {
          margin: 0px;
        }

        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
