#dashboard {
  background-color: $background;
  min-height: 100vh;
  min-height: 100svh;

  #user-banner {
    background-color: $green;
    border-radius: 0 0 16px 16px;
    padding: 50px 20px 20px;
    position: relative;

    .profile-bottom {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .badges-collection {
        object-fit: cover;
        width: 80px;
      }

      .btn-main {
        background-color: $darkgrey;
        color: $lightgrey;
        margin: 0;
      }
    }

    .user-info {
      margin: 20px 0;
      width: calc(100% - 140px);

      .dashboard-avatar {
        background-color: $background;
        border: 1px solid $lightgrey;
        border-radius: 50%;
        display: block;
        height: 120px;
        object-fit: cover;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 120px;

        * {
          height: 100%;
          width: 100%;
        }
      }

      .welcome-message {
        color: $darkgrey;

        * {
          margin: 0px;
        }

        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}


.achievement-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  align-items: center;
  padding: 8px;
  max-width: fit-content;

  .achievement-info {
    background-color: $darkgrey;
    text-align: center;
    border-radius: 10px;
    height: 300px;

    h3 {
      display: -webkit-box;
      font-size: 1.1rem;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      margin: 0;
      padding: 8px 8px 0;
    }

    p {
      margin: 0;
      padding: 0 8px;
      text-align: left;
    }

    .progress-bar {
      background-color: $background;
      height: 16px;
      border-radius: 8px;
      margin: 4px;

      .percentage {
        background-color: $green;
        height: 16px;
        border-radius: 8px;
        width: 76%;
      }
    }
  }

  .next-badge {
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    width: 80%;
  }
}

.see-more-achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;

  p {
    margin: 0;
  }

  i {
    background-color: $darkgrey;
    color: $green;
    border-radius: 50%;
    padding: 8px;
  }
}
